* {
    margin: 0 auto;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: $font-main;
  }
/* Header */
header{
    box-shadow: 0 0 16px 0 #0000002e;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

  img{
    display: flex ;
    width: 50%;
    margin: 5% auto;
  }

  a{
    position: absolute;
    left: 20px;
    font-size: 20px;
    color: $color-black;
  }
}
.color-black{
    color: $color-black;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-top: 4%;

    img{
      width: 170px;
    }
  }
.localisation {
    display: flex;
    align-items: center;
    border: 1px solid $color-grey;
    background-color: $color-grey;
    height: 45px;
  }
  .icon-location span {
    margin-left: 15px;
  }
  
  .reservation {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
  }
  
  .title-reservation{
    font-size: 27px;
    text-align: center;
  }
  .para-one {
    margin-top: 8%;
  }
  
  .para-two {
    margin-top: 4%;
  }
  
  #para-reservation {
    font-size: 20px;
    text-align: center;
  }
  

  
  
  
  
  