
.full-heart{
  position: relative;
}
.full-heart:hover {
  transition: opacity 200ms ease-in-out;
}
.full-heart:hover::after {
  opacity: 0;
}
.full-heart:hover::before {
  opacity: 1;
}
.full-heart::after {
  opacity: 1;
  font-weight: 100;
  align-self: center;
  transition: opacity 400ms ease-in;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "\f004";
}
.full-heart::before {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 400ms ease-out;
  font-weight: 600;
}
