// @media screen and (min-width:508px) and (max-width:767px){
//     .entry-card{
//         width: 80%;
//     }
// }

/* Tablet */
@media screen and (min-width:767px) and (max-width:1023px) {
    .flex{
     display: flex;
     flex-wrap: wrap;
     width: 90%;
    }
    .btn{
     width: 45%;
    }
    .section-restaurant{
     margin-top: 8%;
     margin-bottom: 12px;
    }
    .section-restaurant h1{
     padding: 0;
    }
    .card{
     width: 45%;
    } 
    .flex-resto{
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: row;
    }
    .card-entry{
        display: flex;
        flex-wrap: wrap;
    }
    .entry-card{
        width: 48%;
    }
    .icon-menu i, .icon-store i{
        left: -32px;
    }
    .icon-number i{
        left: -8px;
    }
    .btn-command button{
        width: 35%;
    }
}

    
// Desktop 
 @media screen and (min-width:1024px){
        header img{
        width: 32%;
        }
        .para-one{
            display: flex;
        }
        .para-one-bottom{
            padding-left: 8px;
        }
        .flex{
         display: flex;
         flex-wrap: wrap;
         width: 90%;
        }
        .btn{
         width: 45%;
        }
        .section-restaurant{
         margin-top: 8%;
         margin-bottom: 12px;
        }
        .section-restaurant h1{
         padding: 0;
        }
        .card{
         width: 70%;
        }
        .flex-resto{
         display: flex;
         flex-direction: row;
         justify-content: center;
        }
        .container-entry{
            display: flex;
            flex-direction: column;
        }
        .card-entry{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card-price{
            left: 286px;
        }
        .entry-card{
            width: 45%;
            margin-left: 8px;
        }
        .btn-command button{
            width: 25%;
        }
 }