body{
  max-width: 1920px;
}

// Titre 
.fonctionnement h2 {
  margin: 15px 0 15px 26px;
  font-family: $font-main;
}

//.title-thin{
//  font-weight: 100;
//}
.title-menu-h2{
  text-transform: uppercase;
  padding-top: 35px;
  margin-left: 45px;
}
.background-container{
  background-color: $container-color;
}

/* partie icon */
.icon {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 20px;
  }
  
  .icon-color {
    color: gray;
  }
  
  .icon-number i {
    position: absolute;
    left: -22px;
    top: 13px;
  }
  
  .icon-menu i {
    position: absolute;
    left: -45px;
    top: 5px;
  }
  
  .icon-store i {
    position: absolute;
    left: -45px;
  }
  .title-fonction {
    margin-left: 9px;
    margin-top: 12px;
  }