body{
  max-width: 1920px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 22px;
  margin: 0;
}

h2 {
  font-size: 22px;
  margin: 0;
}

p {
  font-size: 16px;
  margin: 0;
}

hr {
  width: 37px;
  height: 2px;
  background-color: #99E2D0;
  margin: 5px 0 13px 0;
  border: none;
}

// Titre 
.fonctionnement h2 {
  margin: 15px 0 15px 26px;
  font-family: $font-main;
}
////.line-color{
////  border: $color-tertiary;
////  background-color:$color-tertiary;
////  width: 50px;
////  height: 4px;
////  margin-left: 26px;
//
//
//}
.title-menu-h2{
  text-transform: uppercase;
  padding-top: 35px;
  margin-left: 25px;
}


/* partie icon */
.icon {
    justify-content: space-between;
    position: relative;
    font-size: 17px;
  }
  
  .icon-color {
    color: gray;
  }
  
  .icon-number i {
    position: absolute;
    left: -25px;

  }
  
  .icon-menu i {
    position: absolute;
    left: -52px;
    top: 1px;
  }
  
  .icon-store i {
    position: absolute;
    left: -52px;
  }
  .title-fonction {
    margin-left: 9px;
    margin-top: 11px;

  }