

.container-btn {
  display: flex;
  align-items: center;
  height: 70px;
  gap: 10%;
  position: relative;
}

.container-btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 20px;
  background-color: #e5dde3;
}

.container-btn:hover:hover i {
  color: $color-primary;
}

.container-btn p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.number {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  color: white;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -15px;
}

.btn-title {
  width: 50%;
}/* Partie restaurant */
.section-restaurant {
  background-color: #f2f2f2;
  margin-top: 15%;
  margin-bottom: 17px;
}
.section-restaurant h1 {
  padding-top: 15px;
  margin: 30px 0 35px 25px;
  font-weight: bolder;
  color: $color-black;
}

  .titre-section {
  margin-top: 15%;
}
.card{
  width: 90%; 
} 
.flex-resto{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 5%;
  border-radius: 20px;
  background-color: $color-white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card a {
  color: $color-black;
}

.container {
  padding: 12px 16px;
  height: 67px;
  line-height: 23px;
  font-size: 18px;
}

.container i {
  position: absolute;
  right: 30px;
  bottom: 25px;
  font-size: 26px;
}
.card img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  object-position: center;
}
.img-heart{
  width: 15px;
}

.new-card {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 100px;
  height: 40px;
  background-color: $color-tertiary;
  border: 1px solid $color-tertiary;
}

.new-card span {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: rgb(8, 154, 83);
  font-size: 18px;
  font-weight: bold;
}
@media screen and (min-width:767px) and (max-width:1023px) {
  .flex{
   display: flex;
   flex-wrap: wrap;
   width: 90%;
  }
  .btn{
   width: 45%;
  }
  .section-restaurant{
   margin-top: 8%;
   margin-bottom: 30px;
  }
  .section-restaurant h1{
   padding-top:15px ;
  }
  .card{
   width: 45%;
  } 
  .flex-resto{
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
  }
  .card-entry{
      display: flex;
      flex-wrap: wrap;
  }
  .entry-card{
      width: 48%;
  }
  .icon-menu i, .icon-store i{
      left: -32px;
  }
  .icon-number i{
      left: -13px;
  }
  .btn-command button{
      width: 35%;
  }
}

  
// Desktop 
@media screen and (min-width:1024px){
      header img{
      width: 32%;
      }
      .para-one{
          display: flex;
      }
      .para-one-bottom{
          padding-left: 8px;
      }
      //.flex{
      // display: flex;
      // flex-wrap: wrap;
      // width: 90%;
      //}
      .btn{
       width: 45%;
      }
      .section-restaurant{
        margin: 8px 5px 12px 5px;
      }
      .section-restaurant h1{
       padding-top: 15px;
      }
      .card{
       width: 70%;
      }
      .flex-resto{
       display: flex;
       flex-direction: row;
       gap: 1%;
      }
      .container-entry{
          display: flex;
          flex-direction: column;
      }
      .card-entry{
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .card-price{
          left: 286px;
      }
      .entry-card{
          width: 45%;
          margin-left: 8px;
      }
      .btn-command button{
          width: 25%;
      }
}