.container-btn {
  display: flex;
  align-items: center;
  height: 70px;
  gap: 10%;
  position: relative;
  border-radius: 20px;

  p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }

  &:hover{
    background-color: #f5edff;
    i{
      color: $color-primary;
    }
  }
}
.search-city{
  display: flex;
  align-items: center;
  gap: 4%;

  input{
    border: 1px solid lightgrey;
    background-color: lightgrey;
  }

  ::placeholder{
    color: black;
  }

}
.number {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  color: white;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -15px;
}
.btn-title {
  width: 50%;
}

/* Partie restaurant */
.section-restaurant {
  background-color: #f2f2f2;
  margin-top: 15%;
  margin-bottom: 17px;

  h1{
    padding-top: 15px;
    margin: 30px 0 35px 25px;
    font-weight: bolder;
    color: $color-black;
  }
}
.titre-section {
  margin-top: 15%;
}
.flex-resto{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 90%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 5%;
  border-radius: 20px;
  background-color: $color-white;
  a{
    color: $color-black;
  }
  img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
  }

}
.container {
  padding: 12px 16px;
  height: 67px;
  line-height: 23px;
  font-size: 18px;
  i{
    position: absolute;
    right: 30px;
    bottom: 25px;
    font-size: 26px;
  }
}
.img-heart{
  width: 15px;
}

.new-card {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 100px;
  height: 40px;
  background-color: $color-tertiary;
  border: 1px solid $color-tertiary;
  span{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: rgb(8, 154, 83);
    font-size: 18px;
    font-weight: bold;
  }
}

@media screen and (min-width:767px)  {


  .flex{
   display: flex;
   flex-wrap: wrap;
   width: 90%;
  }

  .section-restaurant{
   margin-top: 8%;
   margin-bottom: 30px;
    h1{
      padding-top:15px ;
    }
  }
  .card{
   width: 45%;
  } 
  .flex-resto{
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
  }
  .card-entry{
      display: flex;
      flex-wrap: wrap;
  }
  .entry-card{
      width: 48%;
  }
  .starter-proposal-full,.starter-dishes-full,.starter-desserts-full{
    gap: 2%;
    margin: 0 5px 0 5px;
  }

  .btn-command button{
      width: 35%;
  }
  .title-menu-h2{
    text-transform: uppercase;
    padding-top: 35px;
    margin-left: 45px;
  }
  .line-color{
    margin-bottom: 15px;
    margin-left: 45px;
  }
}

  
// Desktop
@media screen and (min-width:1200px) {
  .flex{
    flex-wrap: nowrap;
    gap: 2%;
  }
  header img{
    width: 30%;
  }
  .full-menu{
    display: flex;
  }
  .starter, .dishes, .desserts{
    width: 33%;
  }
;
}

