/* La palette du goût */
.logo-palette{
    display: flex;
    position: relative;
  }
  .logo-palette i{
    position:absolute;
    left: 43px;
    bottom: 6px;
    font-size: 20px;
    color: $color-black;
  }
  .logo-palette img{
    font-family: $font-primary;
    width: 160px;
    
  }
  .img-palette-du-gout {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
  }
  .img-la-note-enchantée{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
  }
  .img-menu{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
  }
  .background-container{
    position: relative;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    bottom: 25px;
    padding-bottom: 30px;

  }
  .container-palette{
    display: flex;
    align-items: center;
    margin-right: 85px;
    position: relative;
    border-radius: 15px;
  }

  .title-palette{
    display: flex;
    position: relative;
    padding-top: 30px;
    padding-right: 135px;
    font-size: 20px;
  }
  .position-heart{
    position: absolute;
    font-size: 26px;
    top: 35px;
    left: 325px;
  }
  .container-entrees{
    margin-left: 30px;
  }
  .container-entrees h2{
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 25px;
    margin-left: 15px;
  }
  
  
  .container-card{
    background-color: white;
  }
  .container-card{
    // display: flex;
    position: relative;
    width: 90%;
    margin: 1rem 0;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #00000066;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
  }
  .card-entry{
    margin-left: 30px;
  }
  .entry-card{
    
    position: relative;
  }
 
  .entry-card a{
    color: black;
  }
  .flex-menu{
    display: flex;
  }
  .under-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    font-weight: $font-thin;
  }
 

  .text-title{
    font-size: 17px;
    font-family: $font-main;
    font-weight: $text-bold;
    margin-bottom: 8px;
  }
 
 
  .card-price{
    position: absolute;
    left: 300px;
    top: 40px;
  }
  .card-price span{
    font-family: $font-primary;
  }
  .btn-command{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
  .btn-command button{
    width: 45%;
    height: 53px;
    border-radius: 26px;
    border: $color-primary;
    background: linear-gradient(to left, $color-primary, $color-secondary);
  }
  .btn-command button p{
    color: $color-white;
    font-family: $font-primary;
    font-size: 18px;
  }
  .fa-horizontal-rule{
    color: $color-tertiary;
  }
  .fa-regular{
      position:absolute;
      right: -50px;
      padding-top: 34px;
      font-size: 35px;
  }
  .text-bold{
    padding-top: 34px;
    margin-left: 40px;
    font-size: 32px;
    font-family: $font-primary;
  }
  .price{
    //justify-content: space-between;
    //position:absolute;
    //right: 50px;
    //top:32px;
    margin-right: 55px;
  }
  @media screen and (min-width:1024px){
    .flex{
      display: flex;
      width: 97%;
    }
    .flex-note{
      display: flex;
      flex-wrap: wrap;
      width: 90%;
    }
    .btn{
      width: 31%;
    }
    /* .card-entry{
        width: 80%;
    }
    .text-bold{
        margin-left: 17px;
    } */
    
}
@media screen and (min-width:1024px) and (max-width:1440px)  {
    /* .card-entry{
        
        width: 60%;
    }
    .card-price{
        left: 350px;
    }
    .text-bold{
        margin-left: 17px;
    } */
}

