
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.img-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}
.menu {
  width: 100%;
  background-color: #F2F2F2;
  margin-top: -30px;
  position: relative;
  z-index: 1;
  border-radius: 30px 30px 0 0;
}
.menu-title{
  display: flex;
  padding: 15px;
  i{
    font-size: 30px;
    margin-right:16px;
  }
}

.proposal {
  background-color: white;
  border-radius: 20px;
  height: 80px;
  box-sizing: border-box;
  width: 94%;
  padding: 12px 24px 12px 12px;
  margin: 0 auto 15px auto;
  box-shadow: 0 5px 9px 3px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  animation: appearance 1s backwards;
}

.proposal-description {
  margin-bottom: 8px;
}

.proposal-description h2 {
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.proposal-price {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.proposal-price span {
  font-weight: bold;
  transition-duration: 500ms;
  margin-right: 19px;
}

.proposal-price p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.proposal:nth-child(2) {
  animation-delay: 0.15s;
}

.proposal:nth-child(3) {
  animation-delay: 0.3s;
}

.proposal:nth-child(4) {
  animation-delay: 0.45s;
}

.proposal:hover .proposal-description h2 {
  margin-right: 60px;
}

.proposal:hover .check-animation {
  width: 80px;
  height: 80px;
  border-radius: 0 20px 20px 0;
  right: 0;
}

.proposal:hover .check-animation i {
  transform: rotate(360deg);
}

.proposal:hover span {
  margin-right: 70px;
}

.starter {
  background-color: #F2F2F2;
  border-radius:30px ;

}

.starter-title {
  text-transform: uppercase;
  margin: 0 0 0 3%;
}

.dishes, .desserts {
  background-color: #F2F2F2;
}

.dishes-title, .desserts-title {
  text-transform: uppercase;
  margin: 5% 0 0 3%;
}


.check-animation {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: -12px 0 0 0;
  border-radius: 0 20px 20px 0;
  position: absolute;
  right: -80px;
  top: 12px;
  transition-duration: 750ms;
  i{
    color: white;
    font-size: 20px;
    transition: transform 500ms 250ms;
    transform: rotate(0deg);
  }
}

//@media all and (min-width: 1070px){
//  header img {
//    width: 32%;
//  }
//  .search-city input {
//    font-size: 19px;
//  }
//  .flex{
//    display: flex;
//    flex-wrap: nowrap;
//    width: 90%;
//    gap: 2%;
//  }
//  .icon{
//    font-size: 18px;
//
//  }
//.icon-menu i{
//  left: -36px;
//  top: 2px;
//}
//  .icon-store i{
//    left: -41px;
//    top: 2px;
//  }
//  .icon-number i{
//    left: -25px;
//    top: 1px;
//  }
//  .starter-proposal-full,.starter-dishes-full,.starter-desserts-full{
//    display: flex;
//    gap: 2%;
//    margin: 0 5px 0 5px;
//  }
//}

//@media all and (min-width: 1301px) {
//  hr {
//    margin: 4% 0;
//  }
//
//  .menu {
//    display: flex;
//    flex-wrap: wrap;
//  }
//
//
//  .starter, .dishes, .desserts {
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//    width: 30%;
//    margin: auto;
//  }
//
//  .starter-title, .dishes-title, .desserts-title {
//    width: 90%;
//    font-size: 37px;
//  }
//
//  .starter-title {
//    margin: 0%;
//  }
//
//  .dishes-title {
//    margin: 4% 0 0 0;
//  }
//
//  .desserts-title {
//    margin: 4% 0 0 0;
//  }
//
//  .proposal {
//    width: 100%;
//    animation: appearanceDesktopTablet 1s backwards;
//  }
//
//}
//and (max-width: 1300px)
//@media all and (min-width: 769px)  {
//  hr {
//    margin: 1% 0;
//  }
//
//  .starter, .dishes, .desserts {
//    display: flex;
//    flex-wrap: wrap;
//    justify-content: space-between;
//    width: 90%;
//    margin: auto;
//  }
//
//  .starter-title, .dishes-title, .desserts-title {
//    width: 100%;
//    font-size: 27px;
//  }
//
//  .starter-title {
//    margin: 0;
//  }
//
//  .dishes-title {
//    margin: 4% 0 0 0;
//  }
//
//  .desserts-title {
//    margin: 4% 0 0 0;
//  }
//
//  .proposal {
//    width: 45%;
//    margin: 0 0 3% 0;
//    animation: appearanceDesktopTablet 1s backwards;
//  }
//
//
//}
//
@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes appearanceDesktopTablet {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}