// Site's color

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-white:white;
$color-black:black;
$color-grey:lightgrey;
$font-primary: "Shrikhand", sans-serif;
$font-main:"Roboto", sans-serif;
$font-thin:100;
$text-bold:bold;
$container-color:#f2f2f2;